*{
    margin: 0px;
    padding: 0px;
}
.home{
    background: linear-gradient(180deg, #8D72E1 0%, rgba(164, 10, 60, 0.7) 100%);
}

.international{
    padding: 2rem;
    display: flex;
    /* gap: -2rem; */
    justify-content: space-around;
    margin-top: 5%;
    width: 90vw;
    margin-left: 5%;
    border-radius: 15px;
    /* align-self: center; */
    box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);
}
.national{
    padding: 2rem;
    display: flex;
    /* gap: -2rem; */
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 15px;
    width: 90vw;
    /* align-self: center; */
    box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 37px 37px -8px rgba(0,0,0,0.75);

}
.photo img{
    width: 30vw;
    border-radius: 50px;
    /* height: 20vh; */
}
.text{
    color: #F1D112;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 28%;
    

}
.text p{
    margin-top: -25%;
    color: white;
    display: flex;
    font-size: 1.1rem;
}
.footer{
    background-color:#A40A3C;
    height: 18vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.footerimg{
    padding: 1rem;
    /* width: 2vw;       */
  
    
}
#image{
    width: 6vw;
}

.footertext{
    width: 70vw;
    display: flex;
}
.leftbox{
    width: 33vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;
}
.leftbox ul{
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;



}
.rightbox{
    width: 33vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;


}
.rightbox ul{
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;



}
.middlebox{
    width: 33vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;


}
.middlebox ul{
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;

}
.buttons{
    display: flex;
    float: right;
    padding: 0.5rem;
    gap:2rem;
    margin-right: 5%;
    
}
.btn1{
background: #F1D112;
border-radius: 25px;
border: none;
font-weight: 800;
padding: .6rem;
cursor: pointer;
width: 12vw;
}
