.mobile_view{
    background: url(../Images/User/error.svg);
    background-size: 100% 100%;
    text-transform: uppercase;
    color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 30%;
    font-family: 'Roboto', sans-serif;
  
  }
 